* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Lifehack';
  src: local("Lifehack Sans Bold"), local("Lifehack-Sans-Bold"), url("../fonts/LifehackSans-Bold.woff2") format("woff2"), url("../fonts/LifehackSans-Bold.woff") format("woff"), url("../fonts/LifehackSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 300';
  src: local("Museo Sans 300"), local("Museo-Sans-300"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 500';
  src: local("Museo Sans 500"), local("Museo-Sans-500"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: local("Museo Sans 700"), local("Museo-Sans-700"), url("../fonts/MuseoSansCyrl-700.eot"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans 300', sans-serif;
  color: #c2cada;
}

.navbar {
  background: #28385a;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-wrap a {
  color: #b0b6c3;
  font-size: 18px;
  text-decoration: none;
  padding-right: 50px;
}

.navbar-wrap a:last-child {
  padding-right: 0;
}

.navbar-wrap a:hover {
  color: #af7326;
  text-decoration: underline;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.header-hero-wrap {
  background: url("../img/header-hero-wrap/header-hero-wrap-bg.png") no-repeat;
  background-size: cover;
  background-position: 0  0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.logo-info {
  font-size: 22px;
  color: #c4cad4;
  line-height: .4;
  margin-left: 20px;
}

.city {
  margin-left: 20px;
}

.city p {
  font-size: 11px;
  color: #7687a9;
  text-align: left;
}

.city nav {
  font-size: 22px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #c4cad4;
  outline: none;
  display: block;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.topmenu {
  text-align: left;
  padding: 10px 0;
}

.topmenu img {
  margin-left: 16px;
  margin-bottom: 3px;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #ffff;
  top: 16px;
  -webkit-box-shadow: 4px -2px 0 #d2d2d2;
          box-shadow: 4px -2px 0 #d2d2d2;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.topmenu > li:last-child:after {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.topmenu > li > a {
  color: #bbc4d5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.topmenu li a:hover {
  color: #af7326;
  text-decoration: underline;
}

.submenu {
  margin-top: 10px;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 200px;
  margin-left: -105px;
  background: #ffff;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 16px;
  color: #484848;
}

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.phone-icon {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/header/circle.png"), url("../img/header/phone.png") center no-repeat;
  background-size: cover, auto;
}

.phone-num {
  margin-left: 20px;
  line-height: .4;
}

.phone-p1 {
  text-indent: 7px;
  font-size: 11px;
  color: #7687a9;
}

.phone-p2 {
  color: #c4cad4;
}

.phone-call {
  width: 220px;
  height: 60px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/header/phone-btn.png") center no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phone-call:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.phone-call a {
  color: #c4cad4;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 760px;
}

.hero-left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero-list-down {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-list-down:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hero-right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: auto;
  margin-top: 20px;
}

.hero-right h1 {
  font-family: 'Lifehack', sans-serif;
  font-size: 80px;
  line-height: .1;
}

.hero-right h3 {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 30px;
  line-height: .3;
  margin-bottom: 50px;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/hero/hero-btn.png") no-repeat center;
  background-size: cover;
  width: 359px;
  height: 92px;
}

.hero-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hero-btn a {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 22px;
  color: #fffcf7;
  text-decoration: none;
}

.indicators {
  height: 250px;
}

.indicators-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.indicators-item {
  margin-right: 116px;
}

.indicators-item:last-child {
  margin-right: 0;
}

.indicators-size {
  font-family: 'Lifehack', sans-serif;
  font-size: 80px;
  line-height: .1;
  color: #73b4ed;
}

.indicators-name {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 20px;
  color: #2d2d2d;
  margin-top: -10px;
}

.video {
  height: 865px;
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 21px;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/video/video-bg.png") center no-repeat;
  background-size: cover;
}

.video-wrap {
  margin: 0 auto;
}

.video-wrap-cloud {
  width: 940px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/video/video-cloud.png") no-repeat;
  background-size: cover;
  background-position: 0 -100%;
}

.video-cloud {
  margin: auto;
}

.video-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-align: left;
}

.video-btn a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.video-text div {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border-bottom: 2px solid #eb8d07;
  padding-bottom: 1px;
  color: #eb8d07;
}

.promotion {
  margin-top: 60px;
}

.promotion .promotion-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "tel name btn" "footer footer footer" "... link ...";
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 455px;
  justify-items: center;
  background: url("../img/promotion/promotion-bg.png") center no-repeat;
  background-size: cover;
  padding: 65px;
}

.promotion .promotion-grid-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.promotion .promotion-grid-header > div {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 20px;
  color: #3e3e3e;
}

.promotion .promotion-grid-tel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tel;
  width: 360px;
  height: 70px;
  background: url("../img/promotion/promotion-input.png") center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 24px;
}

.promotion .promotion-grid-tel > input {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  color: #9fa3a3;
  border: none;
  background: #f1f3f5;
}

.promotion .promotion-grid-tel > input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.promotion .promotion-grid-name {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: name;
  width: 360px;
  height: 70px;
  background: url("../img/promotion/promotion-input-1.png") center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 24px;
}

.promotion .promotion-grid-name > input {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  color: #9fa3a3;
  background: #f1f3f5;
  border: none;
}

.promotion .promotion-grid-name > input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.promotion .promotion-grid-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: btn;
  width: 360px;
  height: 70px;
  background: url("../img/promotion/promotion-btn.png") center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 26px;
}

.promotion .promotion-grid-btn a {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 18px;
  color: #cee4f9;
  text-decoration: none;
}

.promotion .promotion-grid-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.promotion .promotion-grid-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.promotion .promotion-grid-footer > div {
  border-top: 2px solid #fcb755;
  width: 50px;
  margin: 40px auto;
}

.promotion .promotion-grid-footer > h4 {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 14px;
  color: #616161;
  text-align: center;
}

.promotion .promotion-grid-link {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: link;
}

.promotion .promotion-grid-link > div {
  width: 70px;
  height: 70px;
  margin-bottom: -105px;
}

.choose {
  background: url("../img/choose/choose-bg.png") no-repeat;
  background-size: cover;
  background-position: 54% 50%;
}

.choose-wrap {
  width: 1140px;
  margin: 0 auto;
  padding-top: 144px;
}

.choose-wrap .choose-grid {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "filter filter" "info info" "btn btn";
  -ms-grid-rows: 1fr 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr 2fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.choose-wrap .choose-grid-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  font-family: 'Lifehack', sans-serif;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 30px;
}

.choose-wrap .choose-grid-header span:last-child {
  color: #fa9300;
}

.choose-wrap .choose-grid-filter {
  height: 110px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: filter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 50px;
}

.choose-wrap .choose-grid-filter > div {
  margin: 4px;
}

.choose-wrap .choose-grid-filter div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.choose-wrap .choose-grid-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.choose-wrap .choose-grid-info-left-text {
  text-align: left;
  margin-bottom: 30px;
}

.choose-wrap .choose-grid-info-left-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-wrap .choose-grid-info-left-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.choose-wrap .choose-grid-info-left-link a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.choose-wrap .choose-grid-info-left-link a p {
  font-family: 'Museo Sans 700', sans-serif;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-size: 18px;
  color: #fa9300;
  border-bottom: 1px solid #fa9300;
}

.choose-wrap .choose-grid-info-slider {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose-wrap .choose-grid-info-slider-main {
  width: 557px;
  height: 380px;
  background: url("../img/choose/choose-slider-photo.png") center no-repeat, url("../img/choose/choose-slider-frame.png") center no-repeat;
  background-size: cover;
}

.choose-wrap .choose-grid-info-slider-left {
  margin-right: -45px;
  margin-top: 25%;
}

.choose-wrap .choose-grid-info-slider-right {
  margin-left: -68px;
  margin-top: 25%;
}

.choose-wrap .choose-grid-info-slider-right a img:hover,
.choose-wrap .choose-grid-info-slider-left a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.choose-wrap .choose-grid-info-slider-bottom {
  margin-top: -55px;
}

.choose-wrap .choose-grid-info-slider-bottom img {
  vertical-align: middle;
}

.choose-wrap .choose-grid-info-slider-bottom a:nth-child(2n) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.choose-wrap .choose-grid-info-slider-bottom a:nth-child(3) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.choose-wrap .choose-grid-info-slider-bottom img:sec {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.choose-wrap .choose-grid-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: btn;
  margin-bottom: 120px;
}

.choose-wrap .choose-grid-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.innovation {
  background: url("../img/innovation/innovation-bg.png") center no-repeat;
  background-size: cover;
}

.innovation-wrap {
  width: 1140px;
  margin: 0 auto;
  padding-top: 144px;
}

.innovation-wrap .innovation-grid {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "info info" "btn btn";
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.innovation-wrap .innovation-grid-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  font-family: 'Lifehack', sans-serif;
  font-size: 65px;
  margin-bottom: 60px;
}

.innovation-wrap .innovation-grid-header p:first-child {
  margin: 0;
  color: #fa9300;
}

.innovation-wrap .innovation-grid-header p {
  color: #ffffff;
  margin: 0;
}

.innovation-wrap .innovation-grid-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.innovation-wrap .innovation-grid-info-left-text {
  text-align: left;
  margin-top: 25%;
  color: #ffffff;
}

.innovation-wrap .innovation-grid-info-left-text p:first-child {
  font-family: 'Lifehack', sans-serif;
  font-size: 36px;
  margin: 0;
}

.innovation-wrap .innovation-grid-info-left-text p:nth-child(2) {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0;
}

.innovation-wrap .innovation-grid-info-left-text p {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0;
}

.innovation-wrap .innovation-grid-info-left-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.innovation-wrap .innovation-grid-info-slider {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.innovation-wrap .innovation-grid-info-slider-main {
  width: 557px;
  height: 380px;
  background: url("../img/innovation/innovation-slider-photo.png") center no-repeat, url("../img/innovation/innovation-slider-frame.png") center no-repeat;
  background-size: 86% 86%, cover;
}

.innovation-wrap .innovation-grid-info-slider-left {
  margin-right: -3%;
  margin-top: 25%;
}

.innovation-wrap .innovation-grid-info-slider-right {
  margin-left: -3%;
  margin-top: 25%;
}

.innovation-wrap .innovation-grid-info-slider-right a img:hover,
.innovation-wrap .innovation-grid-info-slider-left a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.innovation-wrap .innovation-grid-info-slider-bottom img {
  vertical-align: middle;
}

.innovation-wrap .innovation-grid-info-slider-bottom a:nth-child(2n) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.innovation-wrap .innovation-grid-info-slider-bottom a:nth-child(3) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.innovation-wrap .innovation-grid-info-slider-bottom img:sec {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.innovation-wrap .innovation-grid-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: btn;
  margin-bottom: 120px;
}

.innovation-wrap .innovation-grid-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.individuality {
  background: url("../img/individuality/individuality-bg.png") center no-repeat;
  background-size: cover;
}

.individuality-wrap {
  width: 1140px;
  margin: 0 auto;
  padding-top: 34px;
}

.individuality-wrap .individuality-grid {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "info info";
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.individuality-wrap .individuality-grid-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.individuality-wrap .individuality-grid-info-slider {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.individuality-wrap .individuality-grid-info-slider-main {
  width: 600px;
  height: 433px;
  background: url("../img/individuality/individuality-slider-bg.png") center no-repeat;
  background-size: cover;
}

.individuality-wrap .individuality-grid-info-slider-left {
  margin-right: -3%;
  margin-top: 25%;
}

.individuality-wrap .individuality-grid-info-slider-right {
  margin-left: -3%;
  margin-top: 25%;
}

.individuality-wrap .individuality-grid-info-slider-right a img:hover,
.individuality-wrap .individuality-grid-info-slider-left a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.individuality-wrap .individuality-grid-info-slider-bottom {
  margin-top: -45px;
}

.individuality-wrap .individuality-grid-info-slider-bottom img {
  vertical-align: middle;
}

.individuality-wrap .individuality-grid-info-slider-bottom a:nth-child(2n) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.individuality-wrap .individuality-grid-info-slider-bottom a:nth-child(3) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.individuality-wrap .individuality-grid-info-slider-bottom img:sec {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.individuality-wrap .individuality-grid-info-right-text {
  text-align: left;
  margin-top: 25%;
}

.individuality-wrap .individuality-grid-info-right-text p:first-child {
  font-family: 'Lifehack', sans-serif;
  font-size: 36px;
  margin: 0;
  color: #7cbcf3;
}

.individuality-wrap .individuality-grid-info-right-text p:nth-child(2) {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0;
  color: #3e3e3e;
}

.individuality-wrap .individuality-grid-info-right-text p {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #808080;
}

.versatility {
  background: url("../img/versatility/versatility-bg.png") center no-repeat;
  background-size: cover;
}

.versatility-wrap {
  width: 1140px;
  height: 810px;
  margin: 0 auto;
  padding-top: 144px;
}

.versatility-wrap .versatility-grid {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "info info";
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.versatility-wrap .versatility-grid-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.versatility-wrap .versatility-grid-info-left-text {
  text-align: left;
  margin-top: 25%;
}

.versatility-wrap .versatility-grid-info-left-text p:first-child {
  font-family: 'Lifehack', sans-serif;
  font-size: 36px;
  margin: 0;
  color: #7cbcf3;
}

.versatility-wrap .versatility-grid-info-left-text p:nth-child(2) {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0;
  color: #d2d7e0;
}

.versatility-wrap .versatility-grid-info-left-text p {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #a8b2c5;
}

.versatility-wrap .versatility-grid-info-slider {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.versatility-wrap .versatility-grid-info-slider-main {
  width: 600px;
  height: 433px;
  background: url("../img/versatility/versatility-slider-bg.png") center no-repeat;
  background-size: cover;
}

.versatility-wrap .versatility-grid-info-slider-left {
  margin-right: -3%;
  margin-top: 25%;
}

.versatility-wrap .versatility-grid-info-slider-right {
  margin-left: -6%;
  margin-top: 25%;
}

.versatility-wrap .versatility-grid-info-slider-right a img:hover,
.versatility-wrap .versatility-grid-info-slider-left a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.versatility-wrap .versatility-grid-info-slider-bottom {
  margin-top: -45px;
}

.versatility-wrap .versatility-grid-info-slider-bottom img {
  vertical-align: middle;
}

.versatility-wrap .versatility-grid-info-slider-bottom a:nth-child(2n) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.versatility-wrap .versatility-grid-info-slider-bottom a:nth-child(3) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.versatility-wrap .versatility-grid-info-slider-bottom img:sec {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.ideological {
  background: url("../img/individuality/individuality-bg.png") center no-repeat;
  background-size: cover;
}

.ideological-wrap {
  width: 1140px;
  margin: 0 auto;
  padding-top: 34px;
}

.ideological-wrap .ideological-grid {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "info info";
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.ideological-wrap .ideological-grid-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ideological-wrap .ideological-grid-info-slider {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ideological-wrap .ideological-grid-info-slider-main {
  width: 600px;
  height: 433px;
  background: url("../img/ideological/ideological-grid-slider-bg.png") center no-repeat;
  background-size: cover;
}

.ideological-wrap .ideological-grid-info-slider-left {
  margin-right: -3%;
  margin-top: 25%;
}

.ideological-wrap .ideological-grid-info-slider-right {
  margin-left: -3%;
  margin-top: 25%;
}

.ideological-wrap .ideological-grid-info-slider-right a img:hover,
.ideological-wrap .ideological-grid-info-slider-left a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.ideological-wrap .ideological-grid-info-slider-bottom {
  margin-top: -45px;
}

.ideological-wrap .ideological-grid-info-slider-bottom img {
  vertical-align: middle;
}

.ideological-wrap .ideological-grid-info-slider-bottom a:nth-child(2n) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.ideological-wrap .ideological-grid-info-slider-bottom a:nth-child(3) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.ideological-wrap .ideological-grid-info-slider-bottom img:sec {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.ideological-wrap .ideological-grid-info-right-text {
  text-align: left;
  margin-top: 25%;
}

.ideological-wrap .ideological-grid-info-right-text p:first-child {
  font-family: 'Lifehack', sans-serif;
  font-size: 36px;
  margin: 0;
  color: #7cbcf3;
}

.ideological-wrap .ideological-grid-info-right-text p:nth-child(2) {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0;
  color: #3e3e3e;
}

.ideological-wrap .ideological-grid-info-right-text p {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #808080;
}

.practicality {
  background: url("../img/practicality/practicality-bg.png") center no-repeat;
  background-size: cover;
}

.practicality-wrap {
  width: 1140px;
  height: 810px;
  margin: 0 auto;
  padding-top: 144px;
}

.practicality-wrap .practicality-grid {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "info info";
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.practicality-wrap .practicality-grid-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.practicality-wrap .practicality-grid-info-left-text {
  text-align: left;
  margin-top: 25%;
}

.practicality-wrap .practicality-grid-info-left-text p:first-child {
  font-family: 'Lifehack', sans-serif;
  font-size: 36px;
  margin: 0;
  color: #7cbcf3;
}

.practicality-wrap .practicality-grid-info-left-text p:nth-child(2) {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0;
  color: #d2d7e0;
}

.practicality-wrap .practicality-grid-info-left-text p {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #a8b2c5;
}

.practicality-wrap .practicality-grid-info-slider {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.practicality-wrap .practicality-grid-info-slider-main {
  width: 600px;
  height: 433px;
  background: url("../img/practicality/practicality-slider-bg.png") center no-repeat;
  background-size: cover;
}

.practicality-wrap .practicality-grid-info-slider-left {
  margin-right: -5%;
  margin-top: 25%;
}

.practicality-wrap .practicality-grid-info-slider-right {
  margin-left: -9%;
  margin-top: 25%;
}

.practicality-wrap .practicality-grid-info-slider-right a img:hover,
.practicality-wrap .practicality-grid-info-slider-left a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.practicality-wrap .practicality-grid-info-slider-bottom {
  margin-top: -75px;
}

.practicality-wrap .practicality-grid-info-slider-bottom img {
  vertical-align: middle;
}

.practicality-wrap .practicality-grid-info-slider-bottom a:nth-child(2n) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.practicality-wrap .practicality-grid-info-slider-bottom a:nth-child(3) img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.practicality-wrap .practicality-grid-info-slider-bottom img:sec {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.form {
  margin-top: 60px;
}

.form .form-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "email btn" "rectangel rectangel" "footer footer";
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 456px;
  justify-items: center;
  background: url("../img/form/form-bg.png") center no-repeat;
  background-size: cover;
  padding-top: 145px;
  padding-bottom: 50px;
}

.form .form-grid-email {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: email;
  width: 360px;
  height: 66px;
  background: url("../img/form/form-email-bg.png") center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 24px;
}

.form .form-grid-email > input {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  color: #9fa3a3;
  border: none;
  background: #f1f3f5;
}

.form .form-grid-email > input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.form .form-grid-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: btn;
  width: 360px;
  height: 70px;
  background: url("../img/form/form-btn.png") center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 26px;
}

.form .form-grid-btn a {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 18px;
  color: #cee4f9;
  text-decoration: none;
}

.form .form-grid-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.form .form-grid-rectangel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: rectangel;
}

.form .form-grid-rectangel > div {
  border-top: 2px solid #fcb755;
  width: 50px;
  margin: 20px auto;
}

.form .form-grid-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.form .form-grid-footer > h4 {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 14px;
  color: #616161;
  text-align: center;
}

.form .form-grid-link {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: link;
}

.form .form-grid-link > div {
  width: 70px;
  height: 70px;
  margin-bottom: -105px;
}

.month-of-study {
  margin-top: 40px;
  background: url("../img/month-of-study/month-of-study-bg.png") no-repeat;
  background-size: auto cover;
  background-position: 50% 30%;
}

.month-of-study-wrap {
  width: 1140px;
  height: 1500px;
  margin: 0 auto;
  padding-top: 254px;
}

.month-of-study-wrap .month-of-study-grid {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: -60px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "info" "footer" "btn";
  -ms-grid-rows: 1fr 2fr 1fr 1fr;
      grid-template-rows: 1fr 2fr 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 5px;
}

.month-of-study-wrap .month-of-study-grid-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  font-family: 'Lifehack', sans-serif;
  font-size: 65px;
  color: #ffffff;
}

.month-of-study-wrap .month-of-study-grid-header span:nth-child(2) {
  color: #fa9300;
}

.month-of-study-wrap .month-of-study-grid-header p {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 22px;
  color: #e0e4ec;
}

.month-of-study-wrap .month-of-study-grid-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
  margin-top: -50px;
}

.month-of-study-wrap .month-of-study-grid-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.month-of-study-wrap .month-of-study-grid-slider-main {
  width: 945px;
  height: 520px;
  background: url("../img/month-of-study/month-of-study-grid-slider-main-bg.png") center no-repeat;
  background-size: cover;
}

.month-of-study-wrap .month-of-study-grid-slider-left {
  margin-right: -48px;
  margin-top: 18%;
}

.month-of-study-wrap .month-of-study-grid-slider-right {
  margin-left: -68px;
  margin-top: 18%;
}

.month-of-study-wrap .month-of-study-grid-slider-bottom {
  margin-top: -55px;
}

.month-of-study-wrap .month-of-study-grid-slider-right a img:hover,
.month-of-study-wrap .month-of-study-grid-slider-left a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.month-of-study-wrap .month-of-study-grid-slider-bottom img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.month-of-study-wrap .month-of-study-grid-slider-bottom img:sec {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.month-of-study-wrap .month-of-study-grid-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  text-align: center;
}

.month-of-study-wrap .month-of-study-grid-footer p:first-child {
  margin: 0 auto;
  width: 627px;
  height: 38px;
  background: url("../img/month-of-study/month-of-study-grid-footer-bg.png") center no-repeat;
  background-size: cover;
  margin: 30px auto;
}

.month-of-study-wrap .month-of-study-grid-footer p:nth-child(2) {
  font-family: 'Museo Sans 700', sans-serif;
  font-size: 26px;
  color: #ffffff;
}

.month-of-study-wrap .month-of-study-grid-footer p:nth-child(3) {
  font-family: 'Museo Sans 500', sans-serif;
  font-size: 18px;
  color: #bcc1cc;
}

.month-of-study-wrap .month-of-study-grid-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: btn;
  margin-top: -50px;
  margin-bottom: -50px;
}

.month-of-study-wrap .month-of-study-grid-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.awards {
  margin-top: -120px;
}

.awards-container {
  width: 1400px;
  height: 1945px;
  margin: 0 auto;
  padding-top: 340px;
  background: url("../img/awards/awards-bg.png") center no-repeat;
  background-size: cover;
}

.awards-about-school {
  padding-left: 110px;
  padding-right: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.awards-certificate {
  text-align: center;
}

.awards-certificate p,
.awards-title {
  font-family: 'Lifehack', sans-serif;
  font-size: 50px;
  color: #171717;
}

.awards-certificate p span {
  color: #fa9402;
}

.awards-awards {
  text-align: center;
}

.awards-awards p span {
  color: #73b4ed;
}

.reviews {
  margin-top: 0;
  background: url("../img/reviews/reviews-bg.png") no-repeat;
  background-size: auto cover;
  background-position: 50% 50%;
}

.reviews-wrap {
  width: 1300px;
  height: 2000px;
  margin: 0 auto;
  padding-top: 200px;
}

.reviews-header p {
  font-family: 'Lifehack', sans-serif;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.reviews-header p span {
  color: #73b3ec;
}

.reviews-slider {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left main right" "... list ...";
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  grid-auto-columns: 1fr 10fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-slider-switch-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  margin-right: auto;
}

.reviews-slider-switch-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  margin-left: auto;
}

.reviews-slider-main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-slider-list {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: list;
}

.reviews-slider-main-1 {
  background: url("../img/reviews/reviews-slider-main-1.png") center no-repeat;
}

.reviews-slider-main-2 {
  margin-left: 30px;
  background: url("../img/reviews/reviews-slider-main-2.png") center no-repeat;
}

.reviews-slider-main-3 {
  margin-left: 30px;
  background: url("../img/reviews/reviews-slider-main-3.png") center no-repeat;
}

.reviews-slider-main-1,
.reviews-slider-main-2,
.reviews-slider-main-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: auto auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc( 100% / 3 - 60px);
          flex: 1 1 calc( 100% / 3 - 60px);
  height: 244px;
}

.reviews-slider-main-1 a,
.reviews-slider-main-2 a,
.reviews-slider-main-3 a {
  margin: auto;
}

.reviews-slider-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-slider-list a {
  margin-right: 8px;
}

.reviews-slider-list a:nth-child(4) {
  margin-right: 0;
}

.reviews-slider-list a img {
  vertical-align: middle;
}

.reviews-btn {
  text-align: center;
}

.reviews-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */