@font-face {
    font-family: 'Museo Sans 500';
    src: local('Museo Sans 500'), local('Museo-Sans-500'),
        url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: 'Lifehack';
src: local('Lifehack Sans Bold'), local('Lifehack-Sans-Bold'),
    url('../fonts/LifehackSans-Bold.woff2') format('woff2'),
    url('../fonts/LifehackSans-Bold.woff') format('woff'),
    url('../fonts/LifehackSans-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'Museo Sans 300';
src: local('Museo Sans 300'), local('Museo-Sans-300'),
    url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@mixin bold {
    font-family: 'Lifehack', sans-serif;
}

@mixin regular {
    font-family: 'Museo Sans 500', sans-serif;
}

@mixin light {
    font-family: 'Museo Sans 300', sans-serif;
}