.footer

.footer nav:first-child
    display: flex
    margin: 0 auto
    flex-direction: column

.footer nav:first-child a
    margin: auto
    display: flex
    width: 92px
    height: 92px
    background: #384e77
    border-radius: 50%

.footer nav:first-child a img
    margin: auto

.footer-up
    margin: auto
    +semi-bold
    font-size: 18px
    color: #b2baca

.footer nav:nth-child(2)
    background: #384e77

.footer ul
    display: flex
    +light
    font-size: 22px
    color: #eceef2

.footer ul span
    +light
    font-size: 11px
    color: #627494
    text-indent: 10px

.footer ul li
    display: flex

.footer ul li a, p
    margin: auto

.footer-networks
    display: flex

.footer-networks a img[alt*="vk"]
    width: 39%
    height: 24%
    
.footer-networks a img[alt*="ins"]
    width: 38%
    height: 38%

.footer ul li a[name="vk"], a[name="ins"], a[name="call"]
    background: url("../img/footer/footer-circle.png") center no-repeat
    background-size: cover
    width: 56px
    height: 56px
    display: flex

.footer-tel
    display: block
    margin: auto

.footer-tel p:first-child
    +light
    font-size: 11px
    color: #6d7d9b
    text-indent: 10px

.footer ul li a[name="btn"]
    display: flex
    margin-left: auto
    
.footer ul li a[name="btn"] img
    margin: auto